* {
    box-sizing: border-box; /* Устанавливаем box-sizing для расчета ширины и высоты элементов */
}

body {
    font-family: Arial, sans-serif; /* Шрифт для всего документа */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    background-color: #092018; /* Темный фон страницы */
    color: #111611; /* Цвет текста */
}

h1 {
    text-align: center; /* Центрируем заголовок */
    color: #c5c189; /* Цвет заголовка */
    margin-top: 20px; /* Отступ сверху для заголовка */
}

.container {
    max-width: 800px; /* Ограничиваем максимальную ширину контейнера */
    margin: 40px auto; /* Центрируем контейнер с отступами сверху и снизу */
    padding: 20px; /* Внутренние отступы для контейнера */
    background-color: #c5c189; /* Цвет фона для контейнера */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    border-radius: 8px; /* Скругленные углы */
}

#cart-items {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
}

#cart-items li {
    font-size: 20px; /* Размер шрифта для элементов списка */
    margin: 15px 0; /* Отступы между пунктами списка */
    color: #000000; /* Цвет текста для элементов списка */
}

#total-price {
    font-size: 24px; /* Размер шрифта для итоговой стоимости */
    font-weight: bold; /* Жирный текст для выделения */
    margin-top: 20px; /* Отступ сверху */
    text-align: center; /* Центрируем текст */
    color: #000000; /* Цвет текста */
}

ul {
    margin: 20px 0; /* Отступы для общего списка */
    padding: 0; /* Убираем внутренние отступы у списков */
}

li {
    font-size: 20px; /* Размер шрифта для списка */
    margin: 15px 0; /* Отступы между элементами списка */
}

a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #000000; /* Цвет ссылок */
    font-weight: bold; /* Жирный текст для ссылок */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}

a:hover { /* псевдокласс, который активируется, когда курсор мыши находится на элементе */
    color:#074f24; /* Цвет ссылок при наведении */
}